@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color: #191919;
    --text-color: #eee;
    --mouse-circle: #ddd;
    --tonic-color: #1DBEC4;
    --shadow-color: #555;

    transition: color .2s;
    transition: background-color .3s;

    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 4rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='Grey' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: #bbb;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

@media (min-width: 2000px) {
    #app {
        margin: 0 200px;
    }
}

@media (min-width: 1550px) and (max-width: 2000px) {
    #app {
        margin: 0 150px;
    }
}

@media (min-width: 1200px) and (max-width: 1550px) {
    #app {
        margin: 0 100px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    #app {
        margin: 0 50px;
    }
}

@media (max-width: 1000px) {
    #app {
        margin: 0 20px;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

#mouse-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border: 1px solid var(--mouse-circle);
    border-radius: 50%;
    pointer-events: none;
    z-index: -1;
}

/* BASICS */
.tonic {
    color: var(--tonic-color);
}

.title {
    font-size: 2.8rem;
}

.sub-title, a {
    font-size: 2rem;
}

.paragraph, li, .social, form, #footer, #legend {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='Cyan' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
}

#about, #contact {
    padding-top: 10rem;
    margin-top: 10rem;
}

@media (max-width: 875px) {
    #about, #contact {
        padding-top: 5rem;
        margin-top: 5rem;
    }
}

.flex-contain {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}


/* NAVIGATION */
#head {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    left: 0;
    font-size: 2rem;
    background-image: linear-gradient(rgba(12, 12, 12, 1), rgba(12, 12, 12, 0));
    padding: 3rem;
}

nav {
    float: right;
    margin-right: 4rem;
    transition: all .2s;
}

nav > * {
    display: inline-block;
    padding: .4rem 6rem;
    margin: 0;
    transition: all .2s;
    border-bottom: #555 3px solid;
}

nav > *.active {
    border-bottom: var(--tonic-color) .3rem solid;
    transition: all .2s;
}

nav a {
    color: var(--text-color);
}

@media (max-width: 875px) {
    #head {
        padding: 1rem 0;
    }

    nav {
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    nav > * {
        display: inline-block;
        transition: all .2s;
        margin: 0;
        padding: .4rem 4.1vw;
    }

    nav > div > a {
        font-size: 1.7rem;
    }
}

/* WELCOME */
#welcome {
    width: 100vw;
    height: 80vh;
    margin: 15vh 0;
}

#welcome h1 {
    font-size: 15rem;
}

#welcome .flex-item > h2:nth-of-type(1) {
    font-size: 15rem;
    font-weight: normal;
    margin-top: 5rem;
    line-height: 13rem;
    width: 90vw;
}

#welcome .flex-item > h2:nth-of-type(2) {
    font-size: 5rem;
    font-weight: lighter;
}

#welcome p {
    font-size: 2.5rem;
    font-weight: bold;
}

#welcome img {
    max-width: 800px;
    display: none;
}

#welcome .welcome-nav {
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    margin-top: 5vw;
    margin-bottom: 10vw;
}

#welcome .welcome-nav > * {
    font-size: 2.5rem;
}

@media (max-width: 1350px) {
    #welcome .welcome-nav {
        flex-direction: column;
        align-items: center;
    }

    #welcome .welcome-nav h2 {
        margin: 2rem;
    }
}

#home {
    display: flex;
}

#home > div {
    font-size: 3.4rem;
    width: 25rem;
    padding-top: 13rem;
    padding-left: 8rem;
    margin-right: 15rem;
    margin-top: 5vw;
    transition: all .2s;
}

@media (max-width: 875px) {
    #welcome {
        height: unset;
    }

    #welcome h1 {
        font-size: 8rem;
    }

    #welcome p {
        font-size: 2rem;
    }

    #welcome img {
        display: block;
        width: 500px;
        margin: 0 auto;
    }

    #home {
        display: none;
    }

    #welcome .welcome-nav {
        display: none;
    }

    .flex-contain {
        display: block;
        max-width: 95vw;
    }

    #welcome .flex-contain h2:nth-of-type(1) {
        font-size: 6rem;
        line-height: 7rem;
        margin-top: 15rem;
    }

    #welcome .flex-contain h2:nth-of-type(2) {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    #welcome img {
        display: block;
        width: 370px;
        margin: 0;
    }
}

@media (max-width: 400px) {
    #welcome img {
        margin: 0;
    }

    #welcome h2 {
        font-size: 6rem;
        margin-right: 0;
        text-align: center;
    }

    #welcome p {
        margin-right: 0;
    }

    #welcome .flex-item {
        max-width: 85vw;
        margin: 0;
    }

    #welcome {
        width: 90vw;
    }
}

.slash {
    position: relative;
    font-weight: bold;
}

.slash::before {
    content: url("../../../public/img/slash.png");
    position: absolute;
    top: 11rem;
    left: 0;
}

/* WORK */
#work {
    padding-top: 15rem;
    margin-top: 15rem;
}

.project {
    display: inline-block;
    color: #eee;
    width: 33rem;
    height: 20rem;
    padding: 0 5rem;
    margin: 1.5rem;
    position: relative;
    border: var(--text-color) 1px solid;
    background-size: cover;
    overflow: hidden;
    transition: all .2s;
}

.project > .sub-title {
    display: inline-block;
    font-size: 2.3rem;
    transition: all .5s;
}

.project-desc {
    position: absolute;
    width: 25rem;
    transition: all .5s;
    top: 0;
    right: -30rem;
    font-size: 1.5rem;
    line-height: 2rem;
    border-top: var(--text-color) 5px solid;
    padding: 0 10px;
    opacity: 0;
}

.project:hover {
    background: rgb(20, 30, 30);
    transition: all .2s;
    box-shadow: #1DBEC4 10px 10px;
}

.project-container {
    display: inline;
}

.project-container > a {
    background-color: rgba(20, 20, 20, .3);
}

.project:hover .sub-title {
    transition: all .5s;
    transform: translateX(-35rem);
}

.project:hover .project-desc {
    opacity: 1;
    transition: all .5s;
    transform: translateX(-135%);
}

.details {
    margin-top: 1.7rem;
    margin-bottom: 3rem;
}

.used-tech {
    font-weight: bold;
}

#resume {
    margin-top: 5rem;
}

#resume a {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--tonic-color);
    padding: 2rem;
    transition: all .1s;
}

#resume a:hover {
    background-color: var(--tonic-color);
    border: 1px solid var(--tonic-color);
    color: #eee;
    padding: 2rem;
    transition: all .1s;
}

.project img {
    width: 140%;
    position: absolute;
    transform: translate(-20%, -5%);
    z-index: -1;
}

@media (max-width: 875px) {
    #work {
        padding-top: 5rem;
        margin-top: 5rem;
    }

    .project {
        max-width: 70%;
        margin-left: 0;
    }
}

@media (max-width: 650px) {
    .project {
        max-width: 90%;
        display: block;
        margin: 2rem auto;
    }

    .project:hover {
        display: block;
        margin: 2rem auto;
        background: rgb(20, 30, 30);
        transition: all .2s;
    }
}

/* ABOUT */
#about .title {
    margin-top: 10rem;
}

#about .sub-title {
    margin-top: 7rem;
}

.tools {
    display: inline-block;
    width: 350px;
    max-width: 100%;
}

.tools:first-of-type {
    margin-right: 20rem;
}

#picture {
    float: right;
    margin-top: 9rem;
    margin-right: -16rem;
}

#charles {
    display: block;
    background-image: url("../../../public/img/picture.png");
    width: 770px;
    height: 724px;
}

#legend {
    text-align: center;
    font-style: italic;
}

@media (max-width: 1100px) {
    #picture {
        float: none;
        display: block;
        margin: 0 auto;
        border-right: var(--tonic-color) 5px solid;
    }

    #charles {
        background: url("../../../public/img/pic_mobile.png");
        width: 297px;
        height: 422px;
        margin: 0 auto;
    }

    #legend {
        text-align: right;
        margin-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 650px) {
    .tools:first-of-type {
        margin: 0;
    }
}

/* CONTACT */
#contact > * {
    width: 330px;
}

.social i {
    margin-right: 1rem;
    transition: all .2s;
}

.social:hover i {
    color: var(--tonic-color);
    transition: all .2s;
}

/* FOOTER */
#footer {
    margin-top: 10rem;
    text-align: center;
}


/* MORE */
#more {
    margin-top: 10rem;
    font-size: 1.8rem;
}


@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes slideHorizontal {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideVertical {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeIn {
    opacity: 0;
    animation: fadeIn ease-in .4s forwards;
}

.slideHL {
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeIn ease-in .4s forwards;
}

.slideHR {
    opacity: 0;
    transform: translateX(50px);
    animation: slideVertical ease-in .2s forwards;
}

.slideV {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideHorizontal ease-in .2s forwards;
}

.tools p {
    font-size: 1.6rem;
    margin: 2rem 0 0;
}

/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box
}

/* Container for skill bars */
.container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    background-color: var(--tonic-color);
    font-size: 1.6rem;
    padding-right: 1rem;
    text-align: right;
    font-weight: bold;
    color: #000;
    height: 3.7rem;
    box-shadow: var(--shadow-color) 2px 2px 10px;
}

.html {
    width: 95%;
}

.css {
    width: 85%;
}

.js {
    width: 70%;
}

.php {
    width: 40%;
}

.sql {
    width: 40%;
}

.c-sharp {
    width: 20%;
}

.jetbrains {
    width: 80%;
}

.vsc {
    width: 70%;
}

.wordpress {
    width: 65%;
}

.adobe {
    width: 75%;
}

.office {
    width: 95%;
}

.google {
    width: 95%;
}

/* .lightMode {
    --bg-color: #efefef;
    --text-color: #222;
    --mouse-circle : #333;
    --tonic-color: #1DBEC4;
    --shadow-color: #ccc;
}

.lightMode #head {
    background-image: linear-gradient(rgba(240,240,240,1), rgba(240,240,240,0));
} */
.hover-color {
    transition: all .2s;
}

.hover-color:hover {
    color: var(--tonic-color);
    transition: all .2s;
}

.thin {
    font-weight: lighter;
}

.bold {
    font-weight: bolder;
}

@keyframes slideText1 {
    100% {
        transform: translateX(-38vw);
    }
}

@keyframes slideText2 {
    100% {
        transform: translateX(-58vw);
    }
}

.text-anim {
    margin-top: 15rem;
}

@media (max-width: 600px) {
    .text-anim {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 1400px) {
    .text-anim {
        position: absolute;
        top: 10rem;
        z-index: -1;
    }

    .tags-empty {
        -webkit-text-stroke: 1px #666;
        -webkit-text-fill-color: #191919;
    }

    .tags-full {
        color: #666;
    }
}

@media (min-width: 1400px) {
    .tags-empty {
        -webkit-text-stroke: 1px #eee;
        -webkit-text-fill-color: #191919;
    }

    .tags-full {
        color: #eee;
    }
}

.tags-full, .tags-empty {
    font-size: 10rem;
    width: 10000px;
    font-weight: bolder;
    transform: translateX(-200vw);
}

.tags-empty {
    transform: translateX(-220vw);
    animation: slideText2 40s linear infinite;
}

.tags-full {
    transform: translateX(-200vw);
    animation: slideText1 40s linear infinite;
}